.login__form__credentials {
    z-index: 1;
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vw * (9/16));
  max-height: calc(60em * (9/16));

}

.password_req {
    font-size: 10px;
}

.login__form__credentials:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: url('https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    opacity: .5;
    background-size: cover;
    z-index: -1;
}

.login__header {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 40px;
    text-align: center;
}

.username, .password {
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
}
.logo__login {
    background-image: url('https://i.imgur.com/ZTJ52z4.png');
    background-size: 70%;

    background-color: #ece8e8fb;
    background-position: center;
    font-size: 20px;
    position: relative;
    height: 350px;
    max-width: 100%;
    background-repeat: no-repeat;
}

.account_button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    padding: 5px;
}

.account_button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .logo__login {
        background-size: 100%;
        height: 200px;
    }

    .login__header {
        font-size: 25px;
    }

    .login__form__credentials {
        height: 100vh;
    }
}