* {
    color: white;
}
.workout-box {
    background-color: #ece8e8fb;
    background-image: url('https://i.imgur.com/1qCGEVN.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logo__nav {
    position: relative;
    left: 200px;
}

.NotePage__back-button {
    width: 150px;
    background-color: black;
    position: absolute;
    left: -10px;
    padding: 10px;
    font-size: 20px;
}
.workout-form {
    background-color: black;
    justify-content: space-evenly;
    border: 2px solid white;
    position: relative;
    top: 100px;
    left: -90px;
    width: 23.5%;
    height: 100%;
    padding-top: 20px;
    min-width: 150px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}

.form-box1, .form-box2, .form-box3, .form-box4 {
    clear: both;
    margin: 10px;
    height: 40px;
    max-height: 20px;
    border: 5px solid black;
    color: black;
    font-size: 20px;
    max-width: 160px;
    margin-right: 10px;
}

.form-box2, .form-box3, .form-box4 {
    width: 60px;
    /* margin-left: 120px; */
    align-self: center;

}

.form-box1 {
    width: 150px;
    min-width: 50px
}

.workout-name-input {
    margin: 10px;
}

.submit-button {
    position: relative;
    background-color: black;
    color: white;
    margin-top: 20px;
    top: -10px;
    width: 100px;
    font-size: 20px;
    padding: 10px;
}

.submit-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.app__title {
    color: black;
    margin-left: 60px;
    letter-spacing: .5em;
}

.list_page {
    position: relative;
    top: 500px;
}

@media only screen and (max-width: 700px) {
    .workout-form {
        top: 50px;
        font-size: 20px;
        width: 150px;
        position: relative;
        left: 100px;
        margin-right: 80px;
        font-size: 15px;
    }

    .workout-box {
        background-size: 50%;
        display: flex;
        flex-direction: column;
    }
    .NotePage__back-button {
        width: 80px;
        border-radius: .5em;
    }

    .form-box1, .form-box2, .form-box3, .form-box4 {
        font-size: 15px;
    }
    .form-box1 {
        width: 80px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
    .workout-box {
        display: flex;
        flex-direction: column;
    }

    .workout-form {
        display: flex;
        flex-direction: column;
       position: relative;
       left: -30px;
       width: 300px;
    }
    .submit-button {
        left: 110px;
    }
}