.exercise-add {
    background-color: rgb(170, 118, 118);
    color: black;
    border: 1px solid black;
    border-radius: .6em;
    position: relative;
    top: 230px;
    right: -250px;
    /* opacity: 70%; */
    width: 70%;
    max-width: 500px;
    padding: 40px;
    list-style: none;
    font-size: 20px;
}

.form-box {
    background-color: white;
    margin: 10px;
}

.submit-button {
    background-color: black;
    color: white;
}

.item-name {
    background-color: white;
    color: black;
    padding-bottom: 10px;
    max-width: 600px;
}

.button {
    color: black;
}

.remove-button {
    margin-left: 50%;
    background-color: black;
    opacity: 70%;
    color: white;
}

.workout-list {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}

.workout__div {
    width: 40%;
}