.exercise-add {
    background-color: #ece8e8fb;
    color: black;
    display: flex;
    /* align-items: center; */
    /* position: absolute; */
    /* align-self: center; */
    justify-content: space-between;
    border-radius: .3em;
    box-shadow: 1px 1px 2px black, 0 0 35px rgb(191, 191, 218), 0 0 15px rgb(75, 72, 74);
    /* margin: 10px; */
    
    width: calc(100% - 3vw);
    padding: 15px;
    list-style: none;
    font-size: calc(10px + 1vw);
}

.workout_span {
    color: black;
    letter-spacing: .3em;
}

.edit__name {
    margin-right: 10px;
}
.form-box {
    background-color: white;
    margin: 10px;
}

.submit-button {
    background-color: black;
    color: white;
}

.item-name {
    background-color:#ece8e8fb;
    color: black;
    letter-spacing: .1em;
    display: flex;
    justify-content: space-between;
}

.delete__button {
    position: relative;
    float: right;
}

.delete__button:hover {
    cursor: pointer;
}

.workout-list {
    

    /* align-content: center; */
    width: calc(70% - 10vw);
}

@media only screen and (max-width: 700px) {

.workout-list {
    position: relative;
    left: -30px;
}

}

