.exercise-add {
    background-color: #ece8e8fb;
    color: black;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    border-radius: .3em;
    box-shadow: 1px 1px 2px black, 0 0 35px rgb(191, 191, 218), 0 0 15px rgb(75, 72, 74);
    margin: 10px;
    flex-basis: fit-content;
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 20px;
    clear: both;
}

.workout_span {
    color: black;
    justify-items: auto;
}

.edit__name {
    margin-right: 10px;
}
.form-box {
    background-color: white;
    margin: 10px;
}

.submit-button {
    background-color: black;
    color: white;
}

.item-name {
    background-color:#ece8e8fb;
    color: black;
    letter-spacing: .1em;
    display: flex;
    justify-content: space-between;
}

.delete__button {
    position: relative;
    float: right;
}

.delete__button:hover {
    cursor: pointer;
}

.workout-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-basis: fit-content;
}

@media only screen and (max-width: 700px) {
.exercise-add {
    width: 100%;
}
.workout-list {
    font-size: 15px;
    width: 80%;
    display: flex;
}

}
@media only screen and (max-width: 1000px) and (min-width: 700px) {
    .workout-list {
        width: 50%;
    }
}
