html, body {
  margin: 0;
  padding: 0;
}

.App__main {
  background-color: black;
  background-size: cover;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.date-section {
  background-color: black;
  width: 100%;
}

h1 {
  font-size: 40px;
  color: white;
}
.form-box {
  color: black;
}

.Selectable {
  color: white;
}


.box {
  display: flex;
  width: 100%;
  height: 100%;
  transition: margin .5s;
  margin: 0 -250px 0 0;
}

.wrapper.is.box.open {
  margin-top: 0;
}


